@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.toast-header {
  border: 1px solid #adb5bdbf !important;
  border-radius: 0.375rem 0.375rem 0 0 !important;
  -webkit-border-radius: 0.375rem 0.375rem 0 0 !important;
  -moz-border-radius: 0.375rem 0.375rem 0 0 !important;
  -ms-border-radius: 0.375rem 0.375rem 0 0 !important;
  -o-border-radius: 0.375rem 0.375rem 0 0 !important;
}

.toast-body {
  border: 1px solid #adb5bdbf !important;
  border-top: none !important;
  border-radius: 0 0 0.375rem 0.375rem !important;
  -webkit-border-radius: 0 0 0.375rem 0.375rem !important;
  -moz-border-radius: 0 0 0.375rem 0.375rem !important;
  -ms-border-radius: 0 0 0.375rem 0.375rem !important;
  -o-border-radius: 0 0 0.375rem 0.375rem !important;
}

.toast-header,.toast-body {
  border-color: #383838;
  background: rgb(33, 37, 41) !important;
  color: #fff !important;
}

.modal-content {
  border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -ms-border-radius: 24px !important;
  -o-border-radius: 24px !important;
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 32px 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  --bs-spinner-width: 5rem !important;
  --bs-spinner-height: 5rem !important;
  --bs-spinner-vertical-align: -0.125em !important;
  --bs-spinner-border-width: 0.5em !important;
  --bs-spinner-animation-speed: 1.5s !important;
  --bs-spinner-animation-name: spinner-border !important;
  border-color: #fff !important;
  border-right-color: transparent !important;
}

.time-display {
  font-size: 20px;
  color: #000;
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  font: "Roboto" sans-serif;

}

.body_into {
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
}
